@import url("styles/header.css");

:root {
    --cor-de-fundo: #000000;
    --vermelho: #c91515;
    --roxo: #8d00eb;
    --verde-degrade: linear-gradient(97.54deg, #b6d600 35.49%, #2acf09 165.37%);
    --fonte-principal: "Poppins";
    --rosa: #e715dd;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}